.footer{
    border-top: 1px solid #f1f1f1;
    &__content{
        justify-content: space-between;
        padding: 88px 0 55px;
    }
    &__right{
        text-align: right;
        &-header{
            font-size: 20px;
            font-weight: bold;
            color:#21303d;
            align-items: center;
            justify-content: flex-end;
            margin-bottom: 18px;
            &-img{
                width: 20px;
                height: 15px;
                fill:#21303d;
                margin-right: 20px;
            }
        }
        &-text{
            font-size: 16px;
            line-height: 18px;
            color:#949494;
            margin-bottom: 24px;
        }
    }
    &__menu{
        max-width: 856px;
        width: 100%;
        justify-content: space-between;
        &-col{
            
        }
        &-header{
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom: 38px;
        }
        &-item{
            margin-bottom: 16px;
        }
        &-link{
            font-size: 14px;
            color: #949494;
            &_offer{
                position: relative;
                display: flex;
                align-items: center;
                
                &::after{
                    content:"";
                    background-image: url(../img/sprites/sprite.svg#tag_fill);
                    width: 11px;
                    height: 11px;
                    margin-left: 8px;
                }
            }
        }
    }
    &__cards{
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 34px;
        &-img{
            margin-left: 15px;
        }
    }
    &__right-form{
        align-items: center;
        position: relative;
    }
    &__right-form-imput{
        border: none;
        background-color: #f0f0f0;
        font-size: 18px;
        padding: 21px 40px;
        width: 300px;
        &::placeholder{
            color:#aca8c3;
        }
    }
    &__right-form-btn{
        border: none;
        background-color: transparent;
        height: 62px;
        width: 90px;
        outline: none;
        cursor: pointer;
        padding: 0;
        position: absolute;
        right: 0px;
        &:hover .footer__right-form-btn-img{
            margin-left: 10px;
        }
        &-img{
            width: 20px;
            height: 10px;
            transition: .3s;
        }
    }
    &__logo{
        width:132px;
    }
    &__split{
        height: 40px;
        width: 1px;
        background-color: #aca8c3;
        margin: 0 24px 0 45px;
    }
    &__inst{
        fill:#ced1d8;
        height: 20px;
        width: 20px;
        transition: .3s;
        &:hover{
            opacity: .7;
        }
    }
    &__policy{
        color:#aca8c3;
        font-size: 12px;
        text-decoration:underline;
    }
    &__adwin{
        color:#aca8c3;
        font-size: 12px;
        align-items: center;
        &-img{
            margin-left: 22px;
            height: 18px;
            width: 62px;
            fill:#aca8c3;
        }
        &:hover{
            text-decoration: none;
        }
    }
    &__bottom{
        background-color: #21303d;
        border-top: 1px solid #979ea4;
        height: 100px;
        &-container{
            align-items: center;
            justify-content: space-between;
            height: 100%;
        }
        &-left{
            align-items: center;
        }
    }
    
}

@media(max-width:1600px){
    .footer__content{
        padding: 51px 0 50px;
    }
}

@media(max-width:1280px){
    /*header*/

     /*footer*/
     .footer__content{
         flex-direction: column;
         padding: 27px 60px 30px 20px;
     }
     .footer__menu{
         order:2;
         max-width: 100%;
     }
     .footer__right{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 49px;
     }
     .footer__right-text{
         margin-bottom: 0px;
     }
     .footer__right-header{
        margin-bottom: 8px;
     }
     .footer__text{
        margin-right: 58px;
     }
     .footer__menu-header{
         margin-bottom: 28px;
     }
     .footer__cards{
        justify-content: center;
        padding-bottom: 14px;
     }
     .footer__bottom{
         height: 60px;
     }
     .footer__logo{
         width: 100px;
     }
     .footer__split{
        margin: 0 22px 0 26px;
     }
     /*end footer*/
}
@media(max-width:881px){
    .footer__text {
        margin-right: 24px;
    }
    .footer__content {
        padding: 27px 0px 30px 0px;
    }
}
@media(max-width:768px){
 
     /*footer*/
     .footer__content{
         padding-bottom: 13px;
     }
     .footer__right{
        flex-direction: column;
        margin-bottom: 10px;
     }
     .footer__right-form{
         max-width: 320px;
     }
     .footer__text{
        max-width: 300px;
        margin-right: 0px;
        text-align: left;
     }
     .footer__right-header{
        font-size: 18px;
     }
     .footer__right-header-img{
        margin-right: 14px;
     }
     .footer__right-text{
        padding-left: 35px;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 12px;
     }
     .footer__right-form-imput{
        padding: 21px 15px;
     }
     .footer__right-form-btn{
        width: 48px;
     }
     .footer__menu{
        flex-wrap: wrap;
        max-width: 300px;
        margin: 0 auto;
     }
     .footer__menu-col{
        max-width: 140px;
        width: 100%;
        margin-top: 30px;
     }
     .footer__bottom{
         height: 150px;
     }
     .footer__bottom-container{
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;   
     }
     .footer__menu-header {
        margin-bottom: 21px;
    }
    .footer__menu-link {
        line-height: 15px;
    }
    .footer__cards {
        padding-bottom: 26px;
    }
    .footer__bottom-left{
        margin-right: 66px;
        margin-bottom: 22px;
    }
    .footer__logo {
        width: 81px;
    }
    .footer__bottom-container{
        justify-content: flex-start;
        margin-bottom: 21px;
        height: auto;
    }
    .footer__policy{
        margin-bottom: 19px;
    }
    .footer__adwin-img {
        margin-left: 10px;
    }
     /*end footer*/
}
